Basic CSS Reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: relative;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}
#nav-bar h1 {
  color: #fff;
  margin-right: 45%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 5px;
}
#nav-bar ul {
  display: flex;
  color: #fff;
  z-index: 2;
  list-style: none;
}
#nav-bar ul li {
  margin-left: 20px;
  font-size: 20px;
}
#nav-bar ul li:hover {
  color: hsl(19, 100%, 50%);
  transition: color 2s ease;
}
#nav-bar ul li a:hover {
  color: hsl(19, 100%, 50%);
}

#nav-bar ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#section {
  height: 100%;
  width: 100%;
  display: flex;
}

#left-side-sec {
  position: absolute;
  width: 100%;
  height: 100%;
}

#left-side-sec h1 {
  color: #fff;
}

#left-side-sec p {
  color: #fff;
}

#right-side-sec {
  position: absolute;
  width: 100%;
  height: 100%;
}

#right-side-sec img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 53%;
  top: -100px;
  right: -20px;
  object-fit: cover;
  object-position: top;
}
#left-side-sec h1 {
  position: absolute;
  top: 30%;
  left: 20%;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
}

#left-side-sec p {
  position: absolute;
  top: 43%;
  left: 25%;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}
